.calendar {
	width: 100%;
	display: flex;
	flex-flow: row wrap;

	> .date, .day {
		width: calc(14% - 10px);
		background-color: white;
		padding: 40px 5px;
		text-align: center;
		border: 1px solid gainsboro;
		margin: -1px;

		.japanese {
			color: #a28763;
			font-weight: 500;
		}
	}

	.day {
		font-weight: 500;
		background-color: #fcfcfc;
	}
	.date:last-of-type {
		width: calc(14% - 11px);
	}
}